* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.furima-icon {
  width: 15vw;
  margin-right: 10vw;
  margin-top: 20px;
}
.search_form{
  width: 30vw;
}
.lists-left {
  min-width: 200px;
  display: flex;
}
.list-name{
  margin-right: 20px;
  text-decoration: none;
  color: #333333;
}
.list-category{
  text-decoration: none;
  color: #333333;
}

.search-form-name{
  display: flex;
  height: 5vh;
  width: 100%;
  position: relative;
}
.input-box-name{
  width:calc(100% - 5vw);
  height: 5vh;
  margin-right: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.search-form-category{
  display: flex;
  height: 5vh;
  width: 100%;
  position: relative;
}
.hidden{
  display: none;
}
.input-box-category{
  width:calc(100% - 5vw);
  height: 5vh;
  margin-right: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  position: absolute;
  top: 0px;
  right: 30px;
}


.nav {
  font-size: 20px;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  position: relative;
  height: 4vh;
  display: flex;
  justify-content: center;
}







.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  position: absolute;
  right: 0px;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}